* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #ffffff;
}

.menu {
    float: right;
}

#navigasi {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #91D8E4;
    z-index: 1;
    border-bottom:1px solid #0A2647;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

a.tbl-biru {
    background: #82AAE3;
    border-radius: 40px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}

a.tbl-biru:hover {
    color: white !important;
}

.active:hover {
    color: white !important;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: rgb(0, 0, 255);
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: aquamarine;
    width: 100%;
    line-height: 50px;
}

a.tbl-pink {
    color: white;
    background: #82AAE3;
    border-radius: 30px;
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
a.tbl-pink:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(37, 40, 228);
    width: 100%;
    line-height: 80px;
    margin-left: 50px;
}

.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "wa ig" "fb yt";
}

.sosmed {
    width: 12rem;
    padding: 6rem;
    background-color: #89C4E1;
    border-radius: 40px;
    align-items: center;
}

.facebook {
    grid-area: facebook;
    margin-top: 30px;
    margin-left: 27%;
}

.instagram {
    grid-area: instagram;
    margin-top: 30px;
    margin-left: 5%;
}

.youtube {
    grid-area: instagram;
    margin-top: 35px;
    margin-left: 5%;
}

.whatsapp {
    grid-area: whatsapp;
    margin-top: 35px;
    margin-left: 27%;
}

hr {
    width: 80%;
}

.duka {
    font-family: Helvetica;
    width: 80%

}

#body {
    width: 90%;
}

#panah {
    height: 30px;
    width: auto;
}

.h1 {
    box-align: center;
    color: rgb(37, 40, 228);
    text-align: center;
    font-size: 50px;
}

#hrr {
    margin-left: 10%;
    margin-right: 20%;
}

#zka {
    margin-top: 50px;
    margin-left: 5%;
}

#propil {
    height: 450px;
    width: 350px;
    border-radius: 100%;
}

#td {
    font-size: 20px;
}

.hmm {
    margin-left: 15%;
    margin-right: 35%;
}


#judul {
    font-family: calibri;
    font-style: normal;
    color: black;
    font-size: 40px;
    text-align: justify;
}

#ket {
    font-size: 17px;
    font-family: arial narrow;
}

.class {
    margin-bottom: 30px;
}

#f {
    width: 30px;
    height: auto;
}

#i {
    width: 30px;
    height: auto;
}

#w{
    width: 30px;
    height: auto;
}

#y {
    width: 30px;
    height: auto;
}

#h3 {
    font-size: 25px;
    font-family: 'Times New Roman';
    margin-top: 30px;
    color: rgb(31, 31, 31);
    margin-bottom: 40px;
}

h3 {
    color: rgb(133, 133, 133);
    margin-bottom: 20px;
    text-align: justify;
    font-family: arial;
    font-size: 17px;
}

#kedua {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#tag {
    font-size: 25px;
    font-family: 'Times New Roman';
    margin-bottom: 35px;
    color: rgb(105, 105, 105);
}

#last {
    margin-top: 50px;
    margin-bottom: 30px;
}

#hr {
    width: 100%;
}

.yoo {
    width: 1100px;
    margin: auto;
    position: relative;
}

.pilih {
    float: left;
}

#navi {
    margin-left: 15%;
    margin-right: 35%;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom:1px solid black;
}

.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navi ul li {
    float: left;
}

.navi ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

.aktif:hover {
    color: rgb(168, 168, 168) !important;
    text-decoration: underline;
}

#tamatt {
    margin-bottom: 20px
}

#panjang {
     width: 100%;
    margin: auto;
    margin-bottom: 20px;

}

#woy {
    margin-left: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

#apah {
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#saha {
    margin-top: 60px;
    border-radius: 400px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .men ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    #body {
        display: block;
        width: 100%;
        height: auto;
    }
}